---
- name: Check if Supabase folder exists
  ansible.builtin.stat:
    path: "/home/{{ deploy_user }}/supabase"
  register: supabase_dir

- name: Clone Supabase
  ansible.builtin.git:
    repo: https://github.com/supabase/supabase
    dest: "/home/{{ deploy_user }}"
    depth: 1
  when: not supabase_dir.stat.exists

- name: Create Supabase files
  template:
    src: "{{ item.src }}.j2"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  with_items:
    - { src: "docker-compose-supabase.yml", dest: "/home/{{ deploy_user }}/{{ supabase_path }}/docker-compose-supabase.yml", mode: '0664' }
    - { src: "kong-supabase.yml", dest: "/home/{{ deploy_user }}/{{ supabase_path }}/{{ kong_conf_path }}/kong.yml", mode: '0664' }
    - { src: "env-supabase", dest: "/home/{{ deploy_user }}/{{ supabase_path }}/.env", mode: '0664' }
    - { src: "start-supabase.sh", dest: "/home/{{ deploy_user }}/{{ supabase_path }}/start-supabase.sh", mode: '0755' }

- name: Start Supabase
  command: "bash /home/{{ deploy_user }}/{{ supabase_path }}/start-supabase.sh"
